<ion-header>

  <ion-navbar color="beh-blue">
    <ion-title item-start>Detalle de ticket: {{ ticket.ticket_num }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
      <ion-item color="beh-yellow" no-padding>
          <ion-grid>
              <ion-row>
                <ion-col col-6>
                  Sucursal:
                  <p> {{ ticket.sucursal.cSucAlias }}</p>
                </ion-col>
                <ion-col col-6>
                  <div>
                      <div *ngIf="ticket.estatus == 1; else cerrada">
                        Estatus:<p style="display: inline;color: red;"> Abierta</p>
                      </div>
                      <ng-template #cerrada>
                        Estatus:<p style="display: inline;"> Cerrada</p>
                      </ng-template>
                  </div>
                  <p>Fecha: {{ ticket.fecha }}</p>
                </ion-col>
              </ion-row>
          </ion-grid>
      </ion-item>
  </ion-list>

  <ion-list>
    <div *ngIf="ticket.lista_prod[0]; else sinProductos">
      <ion-item class="producto" *ngFor="let item of ticket.lista_prod">
        {{ item.producto }}
        <p item-end>{{ item.precio | currency }}</p>
      </ion-item>
    </div>
    <ng-template #sinProductos>
        <ion-item class="producto">
            <p text-center> Al parecer aún no se han registrado productos a tu cuenta. </p>
        </ion-item>
    </ng-template>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="beh-blue" style="color:white">
    <h2 text-right no-margin>Total: {{ ticket_total | currency }}</h2>
    <p text-right no-margin> <small>*Todos nuestros precios incluyen IVA.</small>  </p>
  </ion-toolbar>
</ion-footer>
