<ion-header>

  <ion-navbar color="beh-blue">
    <ion-title>Historial</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
      <div *ngIf="_scanProv.lista_tickets[0]; else sinHistorial">
        <ion-item *ngFor="let ticket of _scanProv.lista_tickets">
          <img *ngIf="ticket.sucursal.cSucConcepto == 3 || ticket.sucursal.cSucConcepto == 5 || ticket.sucursal.cSucConcepto == 6; else sanmartin"
                src="../assets/imgs/logo_pockets.jpg" alt="pockets" style="width: 50px" item-start large>
          <ng-template #sanmartin>
              <img *ngIf="ticket.sucursal.cSucConcepto == 2;else wildrooster" src="../assets/imgs/logo_sanmartin.jpg" alt="sanmartin" style="width: 50px" item-start large>
          </ng-template>
          <ng-template #wildrooster>
              <img src="../assets/imgs/logo_wildrooster.jpg" alt="wildrooster" style="width: 50px" item-start large>
          </ng-template>

          <h3>Cuenta #{{ ticket.ticket_num }} |
            <small *ngIf="ticket.estatus == 1; else cerrada" style="color: red;">ABIERTA</small>
            <ng-template #cerrada> <small style="color: blue;">CERRADA</small> </ng-template>
          </h3>
          <small>{{ ticket.fecha }}</small>
          <button ion-button item-end style="width:50px;" (click)="verDetalle(ticket)" color="beh-yellow" round>Ver</button>
        </ion-item>
      </div>
      <ng-template #sinHistorial>
        <ion-item text-center>
          <h3>No existe historial que mostrar</h3>
        </ion-item>
      </ng-template>
</ion-content>
